@import "tailwindcss";

:root {
  --background: #2a2a3a;
  --foreground: #f5f5dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-display: var(--font-londrina-solid);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
