@import "tailwindcss";

@theme {
  --color-mfg-dark: #2a2a3a;
  --color-mfg-light: #f5f5dc;
  --color-mfg-purple: #9d4edd;
  --color-mfg-teal: #3c6e71;
  --color-mfg-gold: #f9a826;

  --font-display: var(--font-londrina-solid);
  --font-sans: var(--font-poppins);
}

:root {
  --background: var(--color-mfg-dark);
  --foreground: var(--color-mfg-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
